<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top</title>
    <link href="{{ url_for('static', path='/base.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="center-container">
      <div class="center">
        <h1>Top: ({{ page }})</h1>
        {% for story in stories %}
          <li>
            <a href="/dislike/{{ story.id }}">x</a> <a href="{{ story.url }}">?</a>
            {% if (story.url) %}
              <a class="item-link" href="/redir/{{ story.id }}">{{ story.title }}</a> <span style="font-size: 7pt">({{ story.domain }})</span>
            {% else %}
              <a class="item-link" href="/redir/{{ story.id }}/comments">{{ story.title }}</a>
            {% endif %}
            <br>
            <span style="font-size: 7pt">
              <a href="/redir/{{ story.id }}/comments">{{ story.descendants }} comments</a>
            </span>
          </li>
        {% endfor %}
        <a href="/top/{{ page + 1 }}">More</a>
      </div>
    </div>
  </body>
</html>
